  <footer>
    <hr />
    <img src="img/csumbLogo.png" alt="CSUMB Logo" />
    <div>
      CST336 Internet Programming. 2019&copy; Meraz <br />
      <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
      It is used for academic purposes only. 
    </div>
    
  </footer>
</body>
</html>