<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web Build Environments</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1>
      Web Build Environments - Task Runners
    </h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/solutions">Solutions</a></li>
      <li><a href="/tutorials">Tutorials</a></li>
      <li><a href="/references">References</a></li>
    </ul>
  </nav>